@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.navbar {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #111111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2901960784);
  font-family: "Archivo", sans-serif;
}
.navbar.navbar-desplegado {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2901960784);
}
.navbar__menu {
  display: inline-block;
  width: 18px;
  margin-right: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.navbar__menu img {
  width: 100%;
}
.navbar__logo {
  display: inline-block;
  text-align: left;
  width: 50%;
  position: relative;
}
.navbar__logo__icon {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111111;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 10px 10px;
  box-shadow: 0px 4px 10px 1px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
}
.navbar__logo__text {
  display: inline-block;
  letter-spacing: 1.5px;
  vertical-align: middle;
  text-align: left;
  width: 50%;
}
.navbar__logo__text__hotel {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
}
.navbar__logo__text__miranda {
  display: block;
  font-size: 0.7rem;
  color: #111111;
  font-weight: 400;
}
.navbar__iconos {
  margin-top: 0.3rem;
  display: inline-block;
  float: right;
  text-align: center;
}
.navbar__iconos .navbar__icono {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  cursor: pointer;
}
.navbar__desplegable {
  margin-bottom: 1.4rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}
.navbar__desplegable.activo {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar__desplegable ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar__desplegable ul li {
  text-align: left;
}
.navbar__desplegable ul li a {
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  padding-left: 1.2rem;
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.footer {
  margin-top: 4rem;
  width: 100%;
  display: block;
  position: relative;
}
.footer__background {
  opacity: 2%;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__title {
  display: inline-block;
  padding: 1rem;
}
.footer__title__logo {
  display: inline-block;
  text-align: center;
  background-color: #BEAD8E;
  padding: 0.8rem 1.2rem;
  box-shadow: 0px 1rem 1.5rem 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__title__logo__content {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Archivo";
  font-weight: 700;
  line-height: 2.7rem;
  padding: 0.4rem;
}
.footer__title__text {
  display: inline-block;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1.6rem;
  letter-spacing: 2.6px;
  font-family: "Archivo";
}
.footer__title__text__hotel {
  font-weight: 700;
}
.footer__title__text__miranda {
  font-weight: 400;
}
.footer__text {
  padding: 2rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  font-family: "Archivo";
}
.footer__social {
  display: block;
  padding-left: 1.2rem;
}
.footer__social__item {
  display: inline-block;
  background: #F8F8F8;
  padding: 0.5rem;
  margin-right: 0.6rem;
}
.footer__services__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  padding: 1.5rem 1rem;
  padding-top: 2rem;
}
.footer__services__lista {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0 1rem;
}
.footer__services__lista__item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #777777;
}
.footer__services__lista__item:nth-child(-n+6) {
  grid-column: 1;
}
.footer__services__lista__item:nth-child(7) {
  grid-column: 2;
  grid-row: 1;
}
.footer__services__lista__item:nth-child(8) {
  grid-column: 2;
  grid-row: 2;
}
.footer__services__lista__item:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
}
.footer__services__lista__item:nth-child(10) {
  grid-column: 2;
  grid-row: 4;
}
.footer__contact-us {
  padding-top: 1.5rem;
}
.footer__contact-us__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  padding: 1rem 1rem;
  padding-bottom: 2.5rem;
}
.footer__contact-us__item {
  display: inline-block;
  padding-bottom: 2.75rem;
}
.footer__contact-us__item__icon {
  display: inline-block;
  padding-left: 1rem;
}
.footer__contact-us__item__info {
  display: inline-block;
  padding-left: 1rem;
}
.footer__contact-us__item__info__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.footer__contact-us__item__info__text {
  font-family: "Roboto";
  font-weight: 400;
  padding-top: 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #777777;
}
.footer__copyright {
  display: block;
  text-align: start;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  padding-bottom: 1.1rem;
  background-color: #F8F8F8;
}
.footer__copyright__info {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.15rem;
  letter-spacing: -0.5px;
}
.footer__copyright__info__separator {
  padding: 0 0.8rem;
}
.footer__copyright__info-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.15rem;
  letter-spacing: -0.5px;
  padding-bottom: 1.8rem;
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .footer__copyright {
    display: flex;
    justify-content: space-around;
  }
  .footer__services__lista {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  .footer__services__lista__item {
    margin-bottom: 5px;
  }
  .container {
    flex: 1;
    max-width: 330px;
  }
}
.ultimate {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 4.5rem;
  padding: 4.6rem 1.2rem 0;
}
.ultimate__title--index {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  margin-bottom: 26px;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
}
.ultimate__description--index {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 0.7rem;
}
.ultimate__buttons {
  padding-bottom: 5rem;
}
.ultimate__buttons .ultimate__button--primary {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: #BEAD8E;
  margin-top: 40px;
  display: block;
  text-decoration: none;
  padding: 22px 0;
}
.ultimate__buttons .ultimate__button--primary:hover {
  transform: scale(1.1);
}
.ultimate__buttons .ultimate__button--secondary {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #333333;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 24px;
  display: block;
  text-decoration: none;
  border: solid 1px rgba(207, 207, 207, 0.5960784314);
  padding: 22px 0;
}
.ultimate__buttons .ultimate__button--secondary:hover {
  transform: scale(1.1);
}

.availability {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding-left: 20px;
}
.availability__label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
  margin: 35px 0px 24px;
}
.availability__input {
  width: 90%;
  max-width: 350px;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: #222222;
  color: #686868;
  padding: 0.4rem;
  cursor: pointer;
}
.availability .availability__input::-webkit-calendar-picker-indicator {
  order: -1;
  filter: invert(0.5) sepia(1);
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.availability__button {
  margin: 42px 0px 36px;
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 250px;
}
.availability__button:hover {
  transform: scale(1.1);
}

.availability__items {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 100px;
}
.about__text {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #777777;
}
.about__title {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3.5rem;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #111111;
  margin-top: 32px;
  margin-right: 30px;
}
.about__description {
  font-family: "Archivo";
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  text-align: left;
  vertical-align: top;
  margin-top: 16px;
  margin-right: 20px;
}
.about__button {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid #ffffff;
  margin-top: 24px;
}
.about__button:hover {
  transform: scale(1.1);
}
.about__image {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-54%);
  min-width: 270px;
  margin: 60px 14% 0px 14%;
  margin-left: 0px;
}
.about__image__team {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.about__section {
  text-align: center;
  width: 80%;
  height: 300px;
  left: 50%;
  transform: translateX(-54%);
  position: relative;
  min-width: 270px;
  background-color: #ffffff;
}
.about__section__vector {
  margin-top: 55px;
}
.about__section__title {
  font-family: "Old Standard TT", serif;
  font-size: 32px;
  line-height: 30px;
  vertical-align: top;
  letter-spacing: -0.9px;
  font-weight: 400;
  color: #111111;
  margin-top: 30px;
}
.about__section__description {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 22px;
  vertical-align: top;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color: #111111;
  margin-top: 21px;
}
.about__section2 {
  text-align: center;
  width: 80%;
  left: 50%;
  transform: translateX(-54%);
  position: relative;
  min-width: 270px;
  background-color: #222222;
  color: #ffffff;
}
.about__section2__vector {
  margin-top: 55px;
}
.about__section2__title {
  font-family: "Old Standard TT", serif;
  font-size: 32px;
  line-height: 30px;
  vertical-align: top;
  letter-spacing: -0.9px;
  font-weight: 400;
  margin-top: 30px;
}
.about__section2__description {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 22px;
  vertical-align: top;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: #ffffff;
  margin: 21px 0px 38px;
  font-weight: 100;
}

.homeRooms {
  text-align: center;
}
.homeRooms__title {
  font-family: "Archivo";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
}
.homeRooms__subtitle {
  font-family: "Old Standard TT";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
  padding-bottom: 2rem;
}
.homeRooms__swiper {
  position: relative;
}
.homeRooms__swiper__img {
  width: 100%;
  padding: 1rem 0;
}
.homeRooms__swiper__icons {
  position: absolute;
  right: 10%;
  bottom: 27.5rem;
}
.homeRooms__swiper__info {
  background-color: #FFFFFF;
  padding-top: 3rem;
  text-align: center;
}
.homeRooms__swiper__info__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.72px;
  color: #222222;
  font-size: 1.8rem;
  text-align: center;
  margin-top: -1.5rem;
}
.homeRooms__swiper__info__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.homeRooms__swiper__info__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1rem;
  color: #BEAD8E;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.homeRooms__swiper__info__price span {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  text-decoration: none;
}
.homeRooms__swiper .swiper-button-next::after {
  margin-right: 2rem;
}
.homeRooms__swiper .swiper-button-prev::after {
  margin-left: 2rem;
}

.intro {
  background-color: #222222;
  padding: 65px 20px 0px;
}
.intro__title {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  color: #BEAD8E;
}
.intro__description {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-top: 32px;
}
.intro__text {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #c2c2c2;
  margin-top: 16px;
}
.intro__video {
  margin-top: 2rem;
  width: 100%;
  display: block;
  height: 300px;
}
.intro__video iframe {
  width: 100%;
  border: none;
}
.intro__button {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 36px 0px 48px;
}
.intro__button:hover {
  transform: scale(1.1);
}

.facilitiesHome {
  background: #ffffff;
  padding: 1rem;
  text-align: center;
}
.facilitiesHome__title {
  font-family: "Archivo";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.facilitiesHome__subtitle {
  font-family: "Old Standard TT";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
  padding-bottom: 2rem;
}
.facilitiesHome__swiper {
  padding: 1rem;
  text-align: start;
}
.facilitiesHome__swiper__slide {
  position: relative;
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 3rem;
}
.facilitiesHome__swiper__slide__background {
  position: absolute;
  color: #222222;
  opacity: 4%;
  font-family: "Archivo";
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 8.125rem;
  right: 5%;
  top: 0;
}
.facilitiesHome__swiper__slide__icon {
  padding: 3rem 1rem;
}
.facilitiesHome__swiper__slide__title {
  font-family: "Old Standard TT";
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  color: #222222;
  padding-bottom: 2rem;
}
.facilitiesHome__swiper__slide__text {
  font-family: "Archivo";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #777777;
  padding-right: 2rem;
}

.banner {
  position: relative;
  height: 8rem;
}
.banner__icon {
  position: absolute;
  transform: scale(0.5);
  right: -20%;
  top: -20%;
}

.menu {
  padding: 1rem;
  margin-bottom: 2rem;
}
.menu__title {
  font-family: "Archivo";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-bottom: 1rem;
}
.menu__subtitle {
  font-family: "Old Standard TT";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
  padding-bottom: 2rem;
}
.menu__swiper {
  padding-bottom: 3rem;
}
.menu__swiper__item {
  display: flex;
  padding-bottom: 1rem;
}
.menu__swiper__item__img {
  width: 40%;
}
.menu__swiper__item__info {
  padding-left: 1.5rem;
}
.menu__swiper__item__info__title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
  color: #222222;
  padding-bottom: 0.5rem;
}
.menu__swiper__item__info__description {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #222222;
}
.menu__swiper #last {
  padding-bottom: 5rem;
}
.menu__swiper .swiper-button-next::after,
.menu__swiper .swiper-button-prev::after {
  margin-bottom: -22rem;
}
.menu__swiper .swiper-button-next::after {
  margin-right: 2rem;
}
.menu__swiper .swiper-button-prev::after {
  margin-left: 32rem;
}
.menu__swiper2__slide {
  padding: 2rem 1rem;
}
.menu__swiper2__slide__img {
  width: 100%;
}

.menu__logros {
  background-color: #222222;
  padding-top: 48px;
}
.menu__logros .menu__logros__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  text-align: center;
}
.menu__logros .menu__logros__box--image {
  margin-bottom: 16px;
}
.menu__logros .menu__logros__box--text p:nth-child(1) {
  font-size: 60px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  color: #ffffff;
  display: inline;
}
.menu__logros .menu__logros__box--text p:nth-child(2) {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  color: #ffffff;
  display: inline;
}
.menu__logros .menu__logros__box--text p:nth-child(3) {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  color: #999999;
  margin-bottom: 48px;
}

.aboutUs {
  text-align: center;
}
.aboutUs__video {
  width: 100%;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  display: block;
  height: 300px;
}
.aboutUs__video iframe {
  width: 100%;
  border: none;
}
.aboutUs__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1.16px;
  color: #222222;
  padding: 2rem 1rem;
}
.aboutUs__iconos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.aboutUs__iconos__background {
  padding: 2rem 0;
}
.aboutUs__iconos__background__icon {
  width: auto;
  height: 3.3rem;
}
.aboutUs__iconos__background__text {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 2.4px;
  color: #222222;
  padding-top: 0.5rem;
}

.aboutUsRestaurant {
  padding: 2.5rem;
}
.aboutUsRestaurant__img {
  width: 100%;
}
.aboutUsRestaurant__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding: 1.5rem 0;
}
.aboutUsRestaurant__title {
  font-family: "Old Standard TT";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: -1.5px;
  color: #222222;
  padding-bottom: 2rem;
}
.aboutUsRestaurant__description {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #777777;
  padding-bottom: 1rem;
}
.aboutUsRestaurant__button {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}
.aboutUsRestaurant__button:hover {
  transform: scale(1.1);
}

.aboutUsFacilities {
  background: #222222;
  padding: 1rem;
  text-align: center;
}
.aboutUsFacilities__title {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.aboutUsFacilities__subtitle {
  font-family: "Old Standard TT";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  padding-bottom: 2rem;
}
.aboutUsFacilities__swiper {
  padding: 1rem;
  text-align: start;
}
.aboutUsFacilities__swiper__slide {
  position: relative;
  background: #292929;
  padding: 1rem;
  margin-bottom: 3rem;
}
.aboutUsFacilities__swiper__slide__background {
  position: absolute;
  color: #222222;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 8.1rem;
  top: 0;
  right: 5%;
}
.aboutUsFacilities__swiper__slide__icon {
  padding: 3rem 1rem;
}
.aboutUsFacilities__swiper__slide__title {
  font-family: "Old Standard TT";
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: -0.9px;
  color: #FFFFFF;
  padding-bottom: 2rem;
}
.aboutUsFacilities__swiper__slide__text {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #FFFFFF;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.aboutUsCounter {
  padding: 3rem 0.5rem;
  padding-bottom: 0rem;
}
.aboutUsCounter__title {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.aboutUsCounter__subtitle {
  font-family: "Old Standard TT";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.aboutUsCounter__funFacts {
  padding-left: 1rem;
  padding-right: 1rem;
}
.aboutUsCounter__funFacts__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}
.aboutUsCounter__funFacts__item__text {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  font-family: "Old Standard TT";
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -1.8px;
}
.aboutUsCounter__funFacts__item__text span {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
  line-height: 1rem;
  letter-spacing: 0px;
}
.aboutUsCounter__swiper__slide {
  padding: 2rem 1rem;
}
.aboutUsCounter__swiper__slide__img {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .aboutUs {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px 15px;
  }
  .aboutUs__video {
    width: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    display: block;
    height: 500px;
  }
  .aboutUs__video iframe {
    width: 100%;
    border: none;
  }
  .aboutUs__title {
    font-size: 55px;
    letter-spacing: -2.16px;
    padding: 0px 45px;
    margin-top: 65px;
    line-height: 4rem;
  }
  .aboutUs__iconos {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .aboutUsRestaurant {
    width: 70%;
    display: grid;
    margin: 30px auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .aboutUsRestaurant__img {
    display: flex;
    align-items: stretch;
    margin-bottom: 0px;
  }
  .aboutUsFacilities__swiper {
    width: 90%;
    display: grid;
    margin: 25px auto;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .aboutUsCounter {
    width: 70%;
    margin: 100px auto 50px;
  }
  .aboutUsCounter__funFacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}
.ultimate {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 4.5rem;
  padding: 4.6rem 1.2rem 0;
}
.ultimate__title {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  margin-bottom: 26px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.ultimate__description {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 2.9rem;
}
.ultimate__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ultimate__nav__links {
  background-color: #FFFFFF;
  overflow: visible;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
}
.ultimate__nav__links a:nth-child(1) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
.ultimate__nav__links a:nth-child(2) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  color: #BEAD8E;
  text-decoration: none;
}

.rooms {
  padding: 3rem 1.2rem 0;
}
.rooms__image img {
  width: 100%;
}
.rooms__iconos {
  text-align: center;
}
.rooms__iconos__image {
  position: relative;
  transform: translateY(-50%);
  z-index: 9;
}
.rooms__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.72px;
  color: #222222;
  text-align: center;
  margin-top: -1.5rem;
}
.rooms__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  text-align: center;
  padding: 0 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.rooms__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.rooms__info a {
  text-decoration: none;
  color: #777777;
}
.rooms__info p:nth-child(1) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-weight: bold;
}
.rooms__info p:nth-child(2) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  color: #BDBDBD;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

.ultimate {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 4.5rem;
  padding: 4.6rem 1.2rem 0;
}
.ultimate__title {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  margin-bottom: 26px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.ultimate__description {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 2.9rem;
}
.ultimate__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ultimate__nav__links {
  background-color: #FFFFFF;
  overflow: visible;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
}
.ultimate__nav__links a:nth-child(1) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
.ultimate__nav__links a:nth-child(2) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  color: #BEAD8E;
  text-decoration: none;
}

.roomData {
  background: #FFFFFF;
  text-align: start;
}
.roomData__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-left: 1.2rem;
  padding-top: 2.7rem;
}
.roomData__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1.44px;
  color: #222222;
  padding-left: 1.2rem;
  padding-top: 0.7rem;
}
.roomData__price {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #BEAD8E;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.roomData__price span {
  font-size: 0.9rem;
}
.roomData__img {
  padding: 1.2rem;
  width: 100%;
}

.checkAvailability {
  font-family: "Archivo";
  text-align: center;
}
.checkAvailability__title {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: -0.54px;
  color: #222222;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.checkAvailability__form {
  padding: 0 2rem;
  background: #FFFFFF;
  position: relative;
}
.checkAvailability__form__checkIn, .checkAvailability__form__checkOut {
  width: 100%;
  padding: 0.4rem 0;
  text-align: start;
}
.checkAvailability__form__checkIn__title, .checkAvailability__form__checkOut__title {
  font-weight: 700;
  font-size: 0.9rem;
  color: #222222;
  padding-bottom: 0.7rem;
}
.checkAvailability__form__checkIn__input, .checkAvailability__form__checkOut__input {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #F8F8F8;
  color: #777777;
  padding: 1.3rem 1.4rem;
}
.checkAvailability__form__button {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #BEAD8E;
  padding-top: 0.5rem;
  padding: 1.5rem 0;
  color: #FFFFFF;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 2.8px;
  margin-top: 0.7rem;
}
.checkAvailability__info {
  text-align: start;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 2.5rem 1.2rem;
}

.amenities {
  width: 100%;
}
.amenities__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  padding-left: 1rem;
  padding-top: 2rem;
}
.amenities__separador {
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 2.2rem 1rem;
}
.amenities__list {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  gap: 0.4rem;
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 6rem;
}
.amenities__list__item {
  display: inline-block;
  padding: 0.4rem 0;
}
.amenities__list__item__icon {
  display: inline-block;
}
.amenities__list__item__text {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #777777;
  padding-left: 0.2rem;
}
.amenities__founder {
  text-align: center;
  position: relative;
}
.amenities__founder__photo {
  position: relative;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  overflow: hidden;
}
.amenities__founder__photo__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.amenities__founder__photo__tick {
  position: absolute;
  margin-top: -9.3rem;
  margin-left: 13.4rem;
  height: 3rem;
  width: 3rem;
  background-color: #BEAD8E;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  z-index: 4;
}
.amenities__founder__photo__tick__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.amenities__founder__name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  letter-spacing: -0.9px;
  color: #222222;
  padding-top: 2rem;
}
.amenities__founder__status {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #BEAD8E;
  padding-top: 0.9rem;
}
.amenities__founder__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: 7.3rem;
}

.cancellation {
  width: 100%;
}
.cancellation__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  padding-left: 1rem;
}
.cancellation__separador {
  color: #F1F1F1;
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 2.3rem 1rem;
}
.cancellation__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 0 1rem;
  margin-bottom: 7rem;
}

.relatedRooms {
  width: 100%;
}
.relatedRooms__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  padding-left: 1rem;
}
.relatedRooms__separador {
  color: #F1F1F1;
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 1.5rem 1rem;
}
.relatedRooms__slider {
  width: 100%;
}
.relatedRooms__slider__img {
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}
.relatedRooms__info {
  text-align: center;
  width: 100%;
}
.relatedRooms__info__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
}
.relatedRooms__info__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #777777;
  margin-top: 1rem;
  padding: 0 2rem;
}
.relatedRooms__info__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.relatedRooms__info__info p:nth-child(1) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-weight: bold;
}
.relatedRooms__info__info p:nth-child(2) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  color: #BDBDBD;
  font-weight: bold;
  margin-bottom: 3.2rem;
}
.relatedRooms__swiper {
  position: relative;
}
.relatedRooms__swiper__img {
  width: 100%;
  padding: 0 1rem;
}
.relatedRooms__swiper__icons {
  position: absolute;
  bottom: 35%;
  right: 10%;
}
.relatedRooms__swiper__info {
  background-color: #FFFFFF;
  padding-top: 3rem;
  text-align: center;
}
.relatedRooms__swiper__info__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.72px;
  color: #222222;
  text-align: center;
  margin-top: -1.5rem;
}
.relatedRooms__swiper__info__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.relatedRooms__swiper__info__price {
  padding-top: 1rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #BEAD8E;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.relatedRooms__swiper__info__price a {
  text-decoration: none;
  color: #BDBDBD;
}

.offers__article {
  text-align: start;
  margin-bottom: 2rem;
}
.offers__article__photo {
  position: relative;
}
.offers__article__photo__img {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}
.offers__article__photo__prices {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10%;
  text-align: end;
}
.offers__article__photo__prices__sinoferta {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-decoration: line-through;
  color: #BEAD8E;
  margin-bottom: 0.6rem;
}
.offers__article__photo__prices__conoferta {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2rem;
  color: #DE5777;
}
.offers__article__photo__prices__sinoferta span {
  font-size: 0.7rem;
  line-height: 0.75rem;
  text-decoration: none;
  text-decoration: line-through;
}
.offers__article__photo__prices__conoferta span {
  font-size: 0.7rem;
  line-height: 0.75rem;
  text-decoration: none;
}
.offers__article__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}
.offers__article__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1.44px;
  color: #222222;
  padding: 0 2rem;
  margin-bottom: 1.2rem;
}
.offers__article__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 0 2.4rem;
  margin-bottom: 1rem;
}
.offers__article__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  gap: 0.4rem;
  list-style: none;
  padding: 0 2.4rem;
  margin-bottom: 1rem;
}
.offers__article__list__item {
  display: inline-block;
  padding: 0.4rem 0;
}
.offers__article__list__item__icon {
  display: inline-block;
}
.offers__article__list__item__text {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #777777;
}
.offers__article__button {
  width: 55%;
  border: none;
  border-radius: 0;
  background: #BEAD8E;
  padding: 1.4rem 0;
  color: #FFFFFF;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 2.8px;
  margin: 0 2.5rem;
}

.popularList {
  text-align: center;
  background-color: #222222;
  margin: 3.5rem 0;
  padding: 3rem 1rem;
  position: relative;
}
.popularList__title {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #BEAD8E;
  margin-bottom: 1rem;
}
.popularList__subtitle {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.8px;
  color: #FFFFFF;
  margin-bottom: 3rem;
}
.popularList__swiper__img {
  width: 100%;
}
.popularList__swiper__icons {
  position: absolute;
  bottom: 38%;
  right: 10%;
}
.popularList__swiper__info {
  background-color: #FFFFFF;
  padding-top: 3rem;
  margin-top: -0.5rem;
}
.popularList__swiper__info__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.72px;
  color: #222222;
  text-align: center;
  margin-top: 0.5rem;
}
.popularList__swiper__info__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.popularList__swiper__info__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #BEAD8E;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.popularList__swiper__info__price a {
  text-decoration: none;
  color: #BDBDBD;
}

.contact-cards-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 50px;
}
.contact-cards-container__items__img {
  position: relative;
  left: 35%;
  z-index: 1;
}
.contact-cards-container__items__icon {
  position: relative;
  bottom: 145px;
  z-index: 2;
}
.contact-cards-container__items__text {
  width: 50%;
  position: relative;
  bottom: 185px;
  left: 65px;
  z-index: 2;
}
.contact-cards-container__items__text__title {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
  margin-bottom: 15px;
}
.contact-cards-container__items__text__info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #777777;
  width: 200px;
}

.image__container img {
  margin-top: -4rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  margin: 50px 0;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__group {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
}
.form__icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
}
.form__icon--message {
  top: 18%;
  position: absolute;
  left: 10px;
}
.form__input {
  color: #777;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 65px;
  padding: 10px 10px 10px 40px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
}
.form__button {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 60%;
  max-width: 500px;
  height: 65px;
  text-transform: uppercase;
  border-color: #f8f8f8;
  margin-top: 20px;
}
.form__button:hover {
  transform: scale(1.1);
}
.form #input__message {
  height: 165px;
}
.form #input__message::-moz-placeholder {
  position: relative;
  bottom: 30%;
}
.form #input__message::placeholder {
  position: relative;
  bottom: 30%;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.swiper-button-prev::after {
  background: #ffffff;
  padding: 1rem;
  color: #000000;
  margin-bottom: 12rem;
  z-index: 10;
}

.swiper-button-next::after {
  background: #BEAD8E;
  padding: 1rem;
  color: #FFFFFF;
  margin-bottom: 12rem;
  z-index: 10;
}

.swiper-pagination-bullet-active {
  background-color: #BEAD8E !important;
}

:root {
  --swiper-navigation-size: .5rem !important;
}/*# sourceMappingURL=styles.css.map */